html, 
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#root {
  --dun: #E8D2B1ff;
  --platinum: #EBEBE8ff;
  --sandy-brown: #F1A771ff;
  --flame: #E96838ff;
  --cambridge-blue: #6EA69Dff;
  --indigo-dye: #0B3D64ff;
  height: 100%;
  width: 100%;
  display: flex;
  left: 0;
  align-items: center;
  justify-content: center;
  transition: left 0.2s ease-in-out;
  background-color: #fff;
  position: relative;
}
#background {
  position: inherit;
}
.sidebar {
  position: absolute;
  left: -200px;
  height: 100%;
  width: 200px;
  transition: left 0.2s ease-in-out;
  background-color:var(--indigo-dye);
  color:var(--sandy-brown) ;
  z-index: 100;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: .5rem;
  overflow-x: scroll;
  margin-right: 1em;
  /* transition: flex 0.3s ease-out */
}
.pie-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-hole {
  display: flex;
  justify-content: end;
  align-items: center;
  border: var(--sandy-brown);
  border-style: solid;
  border-radius: 100%;
  width: 41%;
  height: 70%;
  cursor: default;
}
h1 {
  font-size: 2.5rem;
  letter-spacing: 1rem;
  font-family:sans-serif;
  width: 80%;
  text-align: center;
}
#root.open {
  left: 200px;
}
.sidebar.open {
  transition: left 0.2s ease-in-out;
  left: 0;
}
.sidebar.close {
  overflow: visible;
}
.sidebar-toggle {
  position: absolute;
  right: 0px;
  height: 15px;
  width: 20px;
  z-index: 1;
  margin: 0rem .2rem 0rem .2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.sidebar-toggle.close{
  margin: 0 0 0 0;
  right: -40px;
  color: var(--indigo-dye);
}
.sidebar-component {
  margin-bottom: .5rem;
  position: relative; 
  width: 80%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  padding: 5 10 5 10;
  border-style: solid;
  border-color: var(--sandy-brown) ;
  opacity: 100%;
  /* transition: flex 0.3s ease-out */
}
.component-button {
  width: 80%;
  padding: .15rem .25rem .15rem .25rem;
  display:flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .05rem;
  border: var(--sandy-brown) ;
  border-style: solid;
  border-radius: .5rem;
  margin: 1px 0px 1px 0px;
  text-align: center;
  cursor: pointer;
}
.component-button:active{
  background-color: var(--cambridge-blue);
  color:var(--dun);
}
.sortable{
  margin: 0 0 0 0;
  border: none; 
  border-bottom: var(--dun) ;
  border-bottom-style: solid;
  border-bottom-width: .5px;
  /* width: 100%; */
  height: .75rem;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* transition: background-color 0.1s linear; */
}

.disabled {
  cursor: default;
  opacity: .6;
}


.sortable:hover{
  background-color: var(--cambridge-blue);
  color: var(--dun);
}
.disabled:hover{
  background-color: var(--indigo-dye);
}

.selectable{
  margin: 0 0 0 0;
  border: none; 
  border-bottom: var(--dun) ;
  border-bottom-style: solid;
  border-bottom-width: .5px;
  /* width: 100%; */
  height: .75rem;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reset_button{
  align-self: flex-end;
  margin: -3px -5px 2px 0px;
  letter-spacing: 2px;
  font-size: .4rem;
  padding: .05rem .2rem .05rem .2rem;
  border-radius: .15rem;
  cursor: default;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset_button:hover{
  background: var(--cambridge-blue);
  color: var(--dun);
}

.reset_button:active{
  background-color: var(--flame);
  color: var(--dun)
}

.label-containter{
  justify-content: space-between;
  align-items: end;
  display: flex;
  width: 100%;
  letter-spacing: 1.5px;
  margin-bottom: 1px;
  text-transform: uppercase;
  font-size: .7rem;
}



